<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Homepage</h1>
    {% if username %}
    <h2>Welcome {{ username }}</h2>
    <a href="/auth/logout">Logout</a>
    {% else %}
    <a href="/auth">Login or Register</a>
    {% endif %}
    {% for post in posts %}
    <div id="post-{{ post.post_id }}">
        <h4>#{{ post.post_id }}</h4>
        {% if post.author_id %}
        <h5>By: {{ post.author.username }}</h5>
        {% endif %}
        <p>{{ post.content }}</p>
    </div>
    {% else %}
    <h3>There are no posts</h3>
    {% endfor %}
    <form name="post" action="/post" method="post">
        <label for="post-content">Post:</label>
        <input type="text" id="post-content" name="content"/>
        <input type="submit" value="Submit"/>
    </form>
</body>
</html>
